#
# Machine drivers
#

if ARCH_ROCKCHIP

config MACH_NANOPI4
	bool "FriendlyElec NanoPi 4 Series Machine"
	default n

config MACH_NANOPI_R2
	bool "FriendlyElec boards based on RK3328"
	default n

endif
